#Home_Course {
  text-align: center;
  width: 100%;
  height: 92vh;
  background-color: #933BBC;
}

#Course_Title{
	position: relative;
	color: white;
	top: 5%;
}

#Course_Selection_Wrapper{
	position: relative;
	display: flex;
	align-items: center;
	top: 17%;
	width: 70%;
	height: 7%;
	margin-left: 15%;
}

.Course_Selection{
	position: relative;
	background-color: white;
	width: 19%;
	height: 70%;
	border-radius: 5%;
	text-align: center;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Course_Selection:not(:nth-child(1)) {
	margin-left: 3%;
}

#Course_Display_Wrapper {
	position: relative;
	top: 18%;
	width: 70%;
	height: 60%;
	background-color: white;
	border-radius: .5%;
	margin-left: 15%;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	overflow: auto;
}

#Course_Header_Wrapper {
	position: relative;
	display: flex;
	align-items: center;
	text-align: center;
	font-weight: 500;
	top: 4%;
}

#Header_Title_Wrapper {
	margin-left: 5%;
	width: 37.5%;
}

#Header_Slot_Wrapper {
	margin-left: 2%;
	width: 9.5%;
}

#Header_Length_Wrapper {
	margin-left: 4.5%;
	width: 19%;
}

.Course_Wrapper {
	position: relative;
	width: 95%;
	height: 15%;
	border: solid;
	border-color: #933BBC;
	border-radius: 1.5%;
	margin-left: 2.5%;
	display: flex;
	align-items: center;
	top: 5%;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Course_Wrapper:not(:nth-child(1)) {
	margin-top: 2%;
}

.Course_Title_Wrapper {
	margin-left: 2%;
	width: 40%;
}

.Course_Slot_Wrapper {
	margin-left: 2%;
	width: 10%;
}

.Course_Date_Wrapper {
	margin-left: 5%;
	width: 20%;
}

.Course_Wrapper span {
	position: relative;
	
}

.Course_Wrapper div {
	text-align: center;
	font-weight: 500;
}

.Course_Button_Wrapper {
	width: 10%;
	height: 60%;
	margin-left: 3%;
	border:solid;
	border-color: #933BBC;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 7.5%;
}

.Course_Button_Wrapper:hover {
	background-color: #933BBC;
	color: white;
	cursor: pointer;
}

#Selected_Title {
	position: relative;
	top: 4%;
	text-decoration: underline;
	text-decoration-color: #933BBC;
}

#Selected_Description {
	position: relative;
	margin-top: 5%;
	margin-left: 10%;
	width: 80%;
	height: 40%;
	border: solid;
	border-color: #933BBC;
	display: flex;
	align-items: center;
}

#Selected_Description_wrapper{
	position: relative;
	display: flex;
	align-items: center;
	left: 10%;
	width: 80%;
	height: 100%;
}

#Selected_Length_Wrapper {
	position: relative;
	margin-top: 2%;
	margin-left: 35%;
	width: 30%;
	height: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#Selected_Length {
	margin-left: 5%;
}

.Role_Wrapper {
	position: relative;
	width: 80%;
	height: 15%;
	border: solid;
	margin-top: 2%;
	margin-left: 10%;
	border-color: #933BBC;
	display: flex;
	align-items: center;
}

.Role_Title {
	position: relative;
	margin-left: 3%;
	font-weight: 500;
}

.Role_User {
	position: relative;
	margin-left: 3%;
}

.Selected_Button_Wrapper {
	width: 10%;
	height: 8%;
	margin-left: 45%;
	margin-top: 2%;
	margin-bottom: 2%;
	border:solid;
	border-color: #933BBC;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 4.5%;
}

.Selected_Button_Wrapper:hover {
	background-color: #933BBC;
	color: white;
	cursor: pointer;
}

#Role_Select_Wrapper {
	position: relative;
	margin-top: 2%;
}